.sectionDark .myImage{
    margin: 3rem;;
    max-width: 300px;
    text-align: center;
}


.jumbotron {
    background: none;
    text-align: center;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
    margin: 2rem;
}

.coolStuffWrapper {
    display: block;
    margin-top: 20px;
}

.coolStuffBtn {
    background-color: red;
    display: block;
    margin: auto;
    color: white;
}

h5.modal-title{
    margin: auto;
}
.modal-header{
    text-align: center;
}

.imgCenter{
    display: block;
    margin: auto;
    
}

.btnCenter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 74%;
}

.footerImg{
    padding: 15px;
    max-width: 100px;;
}

.footerBackGround{
    background: #333333;
}


.fa-github{
    margin-left: 15rem;

}

.fa-facebook-square{
    margin-top: 30px;
    color: #3b5998;
}

.fa-google-plus-square{
    color: #c32f10;
}

.fa-instagram{
    color: #ffffff;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }