.sectionDark .myImage{
    margin: 3rem;;
    max-width: 300px;
    text-align: center;
}


.jumbotron {
    background: none;
    text-align: center;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
    margin: 2rem;
}

.coolStuffWrapper {
    display: block;
    margin-top: 20px;
}

.coolStuffBtn {
    background-color: red;
    display: block;
    margin: auto;
    color: white;
}

h5.modal-title{
    margin: auto;
}
.modal-header{
    text-align: center;
}

.imgCenter{
    display: block;
    margin: auto;
    
}

.btnCenter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 74%;
}

.footerImg{
    padding: 15px;
    max-width: 100px;;
}

.footerBackGround{
    background: #333333;
}


.fa-github{
    margin-left: 15rem;

}

.fa-facebook-square{
    margin-top: 30px;
    color: #3b5998;
}

.fa-google-plus-square{
    color: #c32f10;
}

.fa-instagram{
    color: #ffffff;
}